* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 80%;
  display: block;
  margin:auto;
  padding-top: 100px;
}

.content-section {
  /* float: left; */
  width: 100%;
}

/* .image-section {
  float: right;
  width: 40%;
}

.image-section img {
  width: 100%;
  height: auto;
} */

.content-section .title {
  text-transform: uppercase;
  font-size: 28px;
}

.content-section .content h3 {
  margin-top: 20px;
  color: black;
  font-size: 20px;
}

.content-section .content p {
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.content-section .content .button {
  margin-top: 30px;
}

.content-section .content .button a {
  background-color: black;
  padding: 12px 40px;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  border-radius: 3px;
  letter-spacing: 1.5px;
  transition: 0.3s ease;
}

.content-section .content .button a:hover {
  background-color: #f26419;
  color: #fff;
}

.content-section .social {
  margin: 40px 0px;
}

.content-section .social i {
  color: #f26419;
  font-size: 30px;
  padding: 0 10px;
}

.content-section .social i:hover {
  color: #f6ae2d;
}

@media screen and (max-width: 768px) {
  .container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }

  .content-setion {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }

  /* .image-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }

  .image-section img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  } */

  .content-section .title {
    text-align: center;
    font-size: 18px
  }

  .content-section .content .button {
    text-align: center;
  }

  .content-section .content .button a {
    padding: 9px 30px;
  }

  .content-section .social {
    text-align: center;
  }
}



