* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.contact {
  min-height: 100vh;
  padding: 50px;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.container h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: black;
}

.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.contact-form {
  text-align: left;
}

.contact-form h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

.form-group {
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid black;
  background-color: white;
  color: black;
}

button {
  display: inline-block;
  padding: 12px 24px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.3s ease;
}

button:hover {
  background-color: #f26419;
}

.contact-info {
  text-align: left;
}

.contact-info h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

.contact-info p {
  margin-bottom: 10px;
  color: black;
}

.contact-info i {
  margin-right: 10px;
}

@media screen and (max-width: 786px) {
  .container {
    padding: 20px;
  }

  .contact-wrapper {
    grid-template-columns: 1fr;
  }
}